* {
  box-sizing: border-box;
}

:root {
  --heading-color: #000958;
}
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  background-color: #fffaf5;
}

input,
textarea,
select,
button {
  font-size: inherit;
  font-family: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Sora", sans-serif;
}
/* common */
.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

.header {
  padding-top: 26px;
  background-color: #fffaf5;
}

.btn {
  display: inline-block;
  padding: 20px 30px;
}

.sub-title {
  /* font-family: Poppins; */
  font-size: 16px;
  font-weight: 400;
  line-height: calc(30 / 16);
  text-align: left;
  color: #656689;
  margin-top: 24px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__navigation--item {
  /* font-family: Poppins; */
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  /* text-align: left; */
  margin-right: 36px;
  text-decoration: none;
  color: #5e6085;
  padding: 15px 0;
  transition: ease 0.25s;
}
.header__navigation--item:hover {
  /* font-weight: 600; */
  color: var(--heading-color);
  text-shadow: 1px 0 0 currentColor;
}
.header__navigation--item:last-child {
  margin-right: 0;
}

.header__btn {
  padding: 18px 31px;
  /* font-family: Poppins; */
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  color: var(--heading-color);
  /* text-align: center; */
  border: 1px solid var(--heading-color);
  border-radius: 999px;
  transition: ease 0.25s;
  text-decoration: none;
}

.header__btn:hover {
  background-color: var(--heading-color);
  color: #fff;
}

.hero {
  padding-top: 100px;
}

.hero__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero__media {
  padding-bottom: 94px;
  position: relative;
}
.hero__img--wrap {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 388px;
  height: 488px;
  background-color: #ffa589;
  border: 3px solid #ffffff;
  border-radius: 16px;
}

.hero__img {
  max-width: 100%;
  max-height: 100%;
  border-radius: inherit;
}

.hero__decor {
  position: absolute;
  z-index: -1;
}

.hero__decor--left {
  left: -58px;
  bottom: 10px;
}

.hero__decor--right {
  right: -39.5px;
  top: 17px;
}

.hero__img--small {
  width: 186px;
  height: 244px;
  background-color: #f498a0;
  position: absolute;
  left: 365px;
  bottom: 36px;
  border: 2px solid #ffffffa6;
}

.hero__img--list {
  position: absolute;
  padding: 18px 14px;
  width: 250px;
  height: 156px;
  box-shadow: -17px 14px 68px -4px #cfae8440;
  border-radius: 10px;
  bottom: 0px;
  left: 129px;
  z-index: 3;
  background-color: #fff;
}

.hero__list--item {
  display: flex;
}

.hero__list--item__thumb {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: inherit;
  background-color: #fec23f;
  margin-right: 10px;
}

.hero__list--item__title {
  font-family: "Sora", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  color: #181e52;
}

.skeleton {
  margin-top: 6px;
}
.skeleton__above {
  width: 118px;
  height: 4px;
  top: 643px;
  border-radius: 10px 0px 0px 0px;
  opacity: 0.08;
  background-color: #000958;
}

.skeleton__below {
  width: 39px;
  height: 4px;
  border-radius: 10px 0px 0px 0px;
  opacity: 0.08;
  background-color: #000958;
}

.hero__list--item__separate {
  width: 222px;
  height: 0px;
  border: 2px 0px 0px 0px;
  border: 2px solid #f2f2f2;
  margin: 20px 0;
}

.hero__content--heading {
  /* font-family: Sora; */
  font-size: 66px;
  font-weight: 800;
  line-height: calc(76 / 66);
  /* text-align: left; */
}

.hero__content {
  width: 44.2%;
}

.hero__content--subtitle {
  width: 75.6%;
}

.hero__content--action {
  margin-top: 38px;
  display: flex;
  align-items: center;
}

.hero__action--btn {
  display: flex;
  align-items: center;
  padding: 22px 20px 22px 30px;
  box-shadow: 0px 13px 26px -8px #ff5b2e6b;
  background-color: #ff5b2e;
  border-radius: 36px;
  /* font-family: Poppins; */
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  text-decoration: none;
  color: #fff;
  transition: ease 0.25s;
}

.btn__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border: 1px solid #fd5056;
  font-size: 8px;
  background-color: #fff;
  color: #fd5056;
  border-radius: 50%;
  margin-left: 10px;
  transition: ease 0.25s;
}

.hero__action--link {
  /* font-family: Poppins; */
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  color: #000958;
  margin-left: 24px;
  transition: ease 0.25s;
}

.hero__action--btn:hover {
  background-color: transparent;
  color: #000958;
}

.hero__action--btn:hover .btn__icon {
  background-color: #fd5056;
  color: #fff;
}

.hero__action--link:hover {
  text-shadow: 1px 0 0 currentColor;
}

.about_inner {
  display: flex;
  /* margin-top: 77px; */
  margin-top: 130px;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 53px;
}

.about__content {
  width: calc((477 / 1170) * 100%);
}

.about__title {
  font-family: "Sora", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  color: #5e6085;
}

.about__heading {
  /* font-family: Sora; */
  padding-top: 15px;
  font-size: 52px;
  font-weight: 700;
  line-height: calc(62 / 52);
  /* text-align: left; */
  color: var(--heading-color);
}

.about__subtitle {
  max-width: 431px;
}

.about__license {
  margin-top: 54px;
  display: grid;
  padding-left: 37px;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  row-gap: 34px;
  justify-content: space-between;
}

.about__input--label {
  /* font-family: Poppins; */
  font-size: 18px;
  font-weight: 500;
  line-height: 1;
  color: #48496a;
  position: relative;
  display: inline-flex;
  align-items: center;
}

.about__input--label::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  background-color: #fff;
  border: 2px solid #fff2e5;
  border-radius: 4px;
  left: -37px;
}

.about__input--label::after {
  content: "";
  position: absolute;
  width: 11px;
  height: 7px;
  /* background-color: #000; */
  border-bottom: 3px #fff solid;
  border-left: 3px #fff solid;
  left: -31px;
  rotate: -45deg;
  bottom: 7px;
}

input:checked ~ label::before {
  background-color: #ff5d31;
}

.about__media {
  width: calc((636.63 / 1170) * 100%);
}

.about__media--content {
  position: relative;
  display: grid;
  /* padding-top: 10px; */
}

.about__media--img {
  width: calc((450 / 636.63) * 100%);
  justify-self: flex-end;
  padding-right: 49px;
  height: 551px;
}

.about__media--background {
  width: calc((494 / 636.63) * 100%);
  height: 336px;
  background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
  position: absolute;
  box-shadow: 11px 18px 65px 0px #ff9b791f;
  border-radius: 16px;
  bottom: 0;
  z-index: -1;
  right: 28px;
}

.about__media--infor {
  width: 136px;
  height: 156px;
  background-color: #5bd6e2;
  text-align: center;

  position: absolute;
  top: 165px;
  box-shadow: -15px 26px 48px 0px #55f0ff2b;
  border-radius: 10px;
}

.about__infor--img {
  position: absolute;
  top: -40px;
  right: -40px;
}

.about__media--title {
  font-family: "Sora", sans-serif;
  font-size: 42px;
  font-weight: 700;
  line-height: 1;
  color: #ffffff;
  padding-top: 31px;
}

.about__media--subtitle {
  font-size: 14px;
  font-weight: 400;
  line-height: calc(20 / 14);
  width: 83px;
  margin: 0 auto;
  padding-top: 14px;
  color: #c6f4f9;
}
